* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: hsl(185, 41%, 84%);
}
body .title {
  color: hsl(186, 14%, 43%);
  font-weight: 800;
  font-size: 40px;
  margin: 100px 0 80px 0;
  text-align: center;
}
body .card {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  padding: 40px;
}
body .card .calculator {
  margin-right: 80px;
  width: 50%;
  color: hsl(186, 14%, 43%);
}
body .card .calculator__title {
  width: 70%;
  display: inline-block;
}
body .card .calculator__title-error {
  width: 25%;
  display: inline-block;
  text-align: right;
  color: #D97C6D;
  display: none;
}
body .card .calculator__input {
  position: relative;
  display: flex;
  align-items: center;
}
body .card .calculator__input .calculator__icon {
  position: absolute;
  width: 15px;
  left: 10px;
}
body .card .calculator__input .calculator__input-field {
  height: 50px;
  width: 100%;
  border-radius: 7px;
  background-color: hsl(185, 41%, 84%);
  text-align: right;
  font-size: 35px;
  font-weight: 600;
  color: hsl(183, 100%, 15%);
  border: none;
  padding: 7px 10px 0 0;
  outline: none;
}
body .card .calculator__input .calculator__input-field-error {
  outline: 3px solid #D97C6D;
}
body .card .calculator__input .calculator__input-field:hover {
  cursor: pointer;
}
body .card .calculator__input .calculator__input-field:focus {
  outline: 3px solid #56a69b;
}
body .card .calculator__input .calculator__input-field::placeholder {
  color: #9ebbbd;
}
body .card .calculator__tips {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
body .card .calculator__tip {
  border-radius: 5px;
  height: 60px;
  cursor: pointer;
  box-shadow: none;
  border: none;
  transition: 0.3s ease-in-out background-color;
}
body .card .calculator__tip::placeholder {
  color: #587676;
}
body .card .calculator__tip-green {
  display: flex;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  justify-content: center;
  font-size: 30px;
  font-weight: 800;
  align-items: center;
}
body .card .calculator .button-active {
  background-color: #26C2AD;
}
body .card .calculator__tip-green:hover {
  background-color: #9FE8DF;
}
body .card .calculator__tip-input {
  background-color: hsl(185, 41%, 84%);
  border: none;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  height: 60px;
  box-shadow: none;
  transition: 0.3s ease-in-out background-color;
}
body .card .calculator__tip-input:focus {
  outline: 3px solid #56a69b;
}
body .card .results {
  border-radius: 15px;
  background-color: hsl(183, 100%, 15%);
  padding: 30px;
  color: hsl(184, 14%, 56%);
}
body .card .results__paragraph {
  display: inline-block;
  width: 49%;
  font-size: 16px;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
}
body .card .results__paragraph--gray {
  color: hsl(184, 14%, 56%);
}
body .card .results__numbers {
  display: inline-block;
  text-align: right;
  font-size: 55px;
  font-weight: 800;
  color: #20C4AC;
  margin: 0;
  padding: 0;
}
body .card .results #sign {
  width: 49%;
}
body .card .results__button {
  width: 100%;
  height: 60px;
  font-size: 22px;
  border-radius: 5px;
  background-color: #0d686d;
  border: none;
  color: hsl(183, 100%, 15%);
  margin-top: 170px;
  transition: 0.3s ease-in-out background-color;
}
body .card .results .button-active {
  background-color: #26C2AD;
}
body .card .results__button:hover {
  background-color: #9FE8DF;
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  body .card {
    flex-direction: column;
    width: 90%;
  }
  body .card .calculator {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  body .card .results {
    margin-top: 40px;
  }
}
@media screen and (max-width: 680px) {
  body .card {
    padding: 20px;
    width: 100%;
  }
  body .card .calculator__tips {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  body .card .results__numbers {
    font-size: 45px;
  }
}

/*# sourceMappingURL=Styles.css.map */
